.display-4 {

    border-radius: 5px;
    font-size:40px;
}

.display-3 {

	border-radius: 5px;
	text-align: center;
}

p {
    margin-top:5px;
	font-size: 30px;
}

.imgEvent{
height:300px;
width:auto;
}

.text1{
font-size:30px;
}