.display-1
{
text-align:left;
font-size: 30px;
}

.display-2
{
text-align:center;
font-size: 30px;
}

.logoevent{
border-radius: 50%;
max-width:10%;
height:auto;
margin-bottom:10px;
}

p{
font-size:20px;
}

a{
font-size:20px;
}

.bordure{
border-top:1px solid black;
border-radius:5px;
}