html {
  position: relative;
  min-height: 100%;
}
body{
    background-color: #F7F1EA;
    width:100%;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    item-align:center;
}
.login-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    text-align:center;

    margin-left: auto;
    margin-right: auto;
}

.login-form h3{
    text-align: center;
    color: #123F63;
}
.container{
    margin-bottom:110px;
}


.login-container form{
    padding: 10%;
}

#MargePremier
{
    margin-top:110px;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}


.bouton {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background-color: #FABB5A;
    border-radius: 1rem;
    text-decoration:none;
    margin-left: 5%;
}

.imageHome{
	height: 100px;
    width: 100px;
}

.event{
    padding: 5px;
    margin: 0px;
}

.event img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    margi: 5px;
}

.event h3{
    text-align: center;
}

input[type=submit] {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.custom-file:hover{
    cursor:pointer;
}
